<div class="top-header">
    <a href="/">
      <img
        class="logotype"
        src=""
        alt="logotype"
    /></a>
    <h1>Recepie book</h1>
    <img
      onclick="hamburger()"
      id="hamburger-icon"
      src="/static/hamburger-icon.svg"
      alt="hamburger-icon"
    />
  </div>
  <nav>
    <ul class="main-nav">
      <a href="/recepies">
        <li>Recept</li>
      </a>
      <a href="/about">
        <li>Om</li>
      </a>
    </ul>
  </nav>